// faqList1-01
// ==================================================/
.faqList1-01 {
  li {
    padding-bottom: 4px;
    background-color: #ccc;  
    margin-bottom: 4px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }  
}

.faqList1-01_title {
  @extend %font--bold;
  @extend %padd--4;
  background-color: #666;
  margin-bottom: 4px; 
  cursor: pointer;
}

.faqList1-01_icon {
  @extend %display--inline-block;
  margin-left: 4px;
  
  svg {
    display: inline-block;
    background-color: #000;
    fill: #fff;
    width: 16px;
    height: 16px;
  }
}

.faqList1-01_ans {
  @extend %padd--4;
}