// faqList1-01
// ==================================================/
@mixin faqList1-01() {
  // background-color: #000; 
}

@mixin faqList1-01_list() {
  background-color: #ccc;  
}

@mixin faqList1-01_title() {
  @extend %font--bold;
  margin-bottom: 4px; 
}

@mixin faqList1-01_icon() {
  @extend %padd--4;
  margin-left: 4px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
}

.faqList1-01 {
  li {
    @extend %padd--4;
    @include faqList1-01_list();
    margin-bottom: 4px;
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }  
}

.faqList1-01_title {
  @include faqList1-01_title();
  cursor: pointer;
}

.faqList1-01_icon {
  @extend %display--inline-block;
  @include faqList1-01_icon();
}